// Colors
$background-color: #F0F2F4;
$border-color: #DCDCDC;
$fonts-light: #637381;
$light-gray: #E6E6F0;
$mid-gray: #8c8c91;
// $mid-gray:          #637381;
$dark-gray: #323232;
$dark-blue: #212B35;
$darker-blue: #0F3C6E;
$light-blue: #46A0D9;
$lighter-blue: #5AB4E6;
$sky-blue: #339AD9;
$royal-blue: #007ACE;
$lime-green: #78CC3C;
$dark-green: #64B828;
$red: #E65050;
$yellow: #FFF200;
// *** TO DO: andres: New revised MC colors, clean up the rest
$mc-blue: #4ba1d7;
$mc-hblue: #5eb5e4;
$mc-bblue: #134862;

// Uruk
$mainColor: #9e3226;
$secColor: #00465f;
$thrdColor: #395133;
$frthColor: #ee792b;