.site-header {
  &__nav {
    &--top {
    }
    &--bottom {
      background-color: #262826;
    }
  }
}
/*
header {
  width: 100%;
  border-bottom: 1px solid #E6E6F0;
  padding: 0.125rem 1.25rem;
  position: relative;
}

@media (min-width: 992px) {
  header .breadcrumb-nav {
    float: left;
  }
}

@media (min-width: 992px) {
  header .alert {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}

@media (min-width: 992px) {
  header .btn-group {
    float: right;
    margin-top: 0.8125rem;
  }
}
*/

.site-header-content {
  position: relative;
  z-index: 999;
  max-width: 100%;
  background-color: white;
}
.site-header.is-sticky .site-header-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.admin-bar .site-header.is-sticky .site-header-content {
  top: 32px;
}
