.searchform {
  width: 50%;
  max-width: rem(600);
  margin: 0 rem(20);
  /*
  input {
    display: inline-block;
    padding: 8px 30px;
    border: none;
    background-color: white;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.04), 0 4px 7px rgba(0, 0, 0, 0.08);
    font-family: inherit;
    font-size: inherit;
    line-height: normal;
  }

  button {
    width: 100%;
    font-size: 2em;
    text-align: center;
    display: inline-block;
    padding: 10px 30px;
    border: none;

    border-radius: 0;
    color: white;
    background-color: #eb8367;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-weight: 600;
    line-height: 1.5;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s ease;
  }
  */
}
